**/*.egg-info
**/*.md
**/*.sqlite
**/__pycache__
**/testdata
*.iml
*.ipynb
.aider*
.benchmarks
.claude*
.env*
.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.schemas
.venv
.xngin_session_token_keyset
/secrets
CLAUDE*
dist
test_*.py
tools
xngin.db
