name: debug-stochatreat

on:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Relax hostname checks.
  ALLOW_CONNECTING_TO_PRIVATE_IPS: "1"

  DEBIAN_FRONTEND: noninteractive
  FORCE_COLOR: "1"
  PYTHONUNBUFFERED: "1"

  # Tests should never connect to this DSN but it must be set.
  DATABASE_URL: "postgresql://fail:fail@127.0.0.2:5499/fail"

  # Server startup will fail without these values being set.
  GOOGLE_OIDC_CLIENT_ID: "unset-google-oidc-client-id"
  GOOGLE_OIDC_CLIENT_SECRET: "unset-google-oidc-client-secret"

jobs:
  test-unbalanced-arms:
    if: github.event_name == 'workflow_dispatch'
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      - uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task test -- -k test_stochatreat_crossplatform_flakiness
